/* Write all your custom CSS below this line 
Maleah Ristau Feb 14th 2022*/

body {
    margin: 50em;
    font-family: 'Bebas Neue', cursive;
}

section {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background-color:#9869c9;
}

header {
  background-color:#490c8a;
  text-align: center;
  padding-top: 50em;
  padding-bottom: 50em;
  font-family: 'Playfair Display', serif;
}

body {
  background-color:#7f1ce8;
  text-align: center;
}

footer {
  background-color:#490c8a;
  text-align: center;
  padding-top: 50em;
  padding-bottom: 50em;
}
