/* Write all your custom CSS below this line 
Maleah Ristau Feb 14th 2022*/

body {
    margin: 0;
}

section {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

header {
  background-color:#490c8a;
  text-align: center;
  padding-top: 50mm;
  padding-bottom: 50pmm;
  font-family: 'Playfair Display', serif;
}

body {
  background-color:#7f1ce8;
  text-align: center;
}

footer {
  background-color:#490c8a;
  text-align: center;
  padding-top: 50mm;
  padding-bottom: 50pmm;
}
