header {
  font-family: 'Calligraffitti', cursive;
  text-align:center;
  border: 2px solid #6a16ab;
  border-radius: 5px;
}
h1{
  font-size:50px;
}
h2{
  font-size:25px;
  font-style:bold;
}
body {
  background-image:url("gifs/bganstar.gif");
  color:#9b80b0;
}
footer{
  font-family: 'Roboto Mono', monospace;
}
.angel{
  width: 200px;
  border: 3px solid #d4b60f;
  font-family: 'Libre Barcode 39', cursive;
}
.Convo{
  position: absolute; 
  top:500px;
  left:400px;
  background:black;
  border: 3px solid #460a82;
  border-radius: 15px;
}
